# String Manipulation and Information
https://numpy.org/doc/stable/reference/routines.char.html

In [1]:
import numpy as np

In [2]:
s1="My Name is xyz."
s2="I live in abc."

In [3]:
np.char.add(s1,s2)

array('My Name is xyz.I live in abc.', dtype='<U29')

In [4]:
np.char.lower(s1)

array('my name is xyz.', dtype='<U15')

In [5]:
np.char.upper(s1)

array('MY NAME IS XYZ.', dtype='<U15')

In [6]:
np.char.center(s2, 20)

array('   I live in abc.   ', dtype='<U20')

In [7]:
np.char.center(s2, 20, fillchar='*')

array('***I live in abc.***', dtype='<U20')

In [9]:
np.char.split(s1)
np.char.splitlines("Hello\nWorld")

array(list(['Hello', 'World']), dtype=object)

In [11]:
np.char.join('%',s1)
np.char.join(['%','@'],[s1,s2])

array(['M%y% %N%a%m%e% %i%s% %x%y%z%.', 'I@ @l@i@v@e@ @i@n@ @a@b@c@.'],
      dtype='<U29')

In [12]:
np.char.replace(s1,"xyz","XYZ")

array('My Name is XYZ.', dtype='<U15')

In [13]:
np.char.equal(s1,s2)

array(False)

In [14]:
np.char.count(s2,'i')

array(2)

In [15]:
np.char.find(s2,"in")

array(7)